<div class="container">
  <div class="tabs">
    <% Game::MODES.each_with_index do |game_mode, i| %>
      <%= link_to leaderboard_index_path(game_mode: i + 1), class: "tab#{' active' if i == 0}", remote: true do %>
        <h3> <%= game_mode %> </h3>
      <% end %>
    <% end %>
  </div>

  <div class="wrapper-tab-content">
    <div class="tab-content">
      <div class="leaderboard">
        <div>
          <div class="leaderboard-row leaderboard-header-row">
            <p>User</p>
            <p>Score</p>
          </div>
        </div>
        <div>
          <% @games.each do |game| %>
            <div class="leaderboard-row">
              <div class="leaderboard-data"><p> <%= game.user.email %> </p> </div>
              <div class="leaderboard-data"><p> <%= game.score %> </p> </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
