// Define variables for your color scheme

// For example:
//$red: #EE5F5B;
//$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
//$grey: #000000;
//$light-grey: #F4F4F4;

$light-grey: rgba(232, 235, 228, 1);
$lighter-grey: rgba(243, 247, 238, 1);
$sand: rgba(232, 210, 174, 1);
$sand-light: rgba(242, 222, 187, 1);
$sand-lighter: rgba(251, 229, 192, 1);
$transparent-sand: rgba(232, 210, 174, .6);
$grey: rgba(80, 132, 132, 1);
$transparent-grey: rgba(80, 132, 132, .7);
$blue: rgba(28, 110, 140, 1);
$red: rgba(255, 111, 89, 1);
$transparent-red: rgba(255, 111, 89, .7);
