// Define variables for your color scheme

// For example:
//$red: #EE5F5B;
//$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
//$grey: #000000;
//$light-grey: #F4F4F4;

$light-grey: rgba(232, 235, 228, 1);
$lighter-grey: rgba(232, 235, 228, .7);
$sand: rgba(232, 210, 174, 1);
$transparent-sand: rgba(232, 210, 174, .6);
$grey: rgba(80, 132, 132, 1);
$blue: rgba(28, 110, 140, 1);
$red: rgba(255, 111, 89, 1);
