
<br><br><br>

<div class="container">
  <div class="row">
    <div class="wrapper-login">
			<%= render 'devise/sessions/login_social_media' %>

			<%= render 'registration_form' %>
    </div>
  </div>
</div>
