

<div id="vmap"></div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap(
      {
          onLabelShow: function(event, label, code)
          {
            // Hide the label
            event.preventDefault();
          },
          onRegionOver: function(event, code)
          {
            // Hide hover effect
            event.preventDefault();
          },
      });
      jQuery('#vmap').vectorMap('set', 'colors', {<%= j @question.answer.country.code.downcase %>: '<%= j colors[:red] %>'});
    });
  </script>
<% end %>

<hr>
