.header-game{
  background-color: $grey;
  border-radius: 2px;
  padding: 3px 8px;
  margin-top: 10px;
  position: relative;
  p {
    margin: 0;
    color: white;
  }
  p.header-elem-score {
    position: absolute;
    left: 8px;
    top: 3px;
  }
}

.question {
  img {
    width: 300px;
    @media(max-width: 1000px) {
      width: 250px;
    }
    @media(max-width: 400px) {
      width: 200px;
    }
    @media(max-width: 300px) {
      width: 150px;
    }
  }
}

