hr {
  border-top: 1px solid $light-grey;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }

}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 19px;
  }
  p {
    font-size: 12px;
  }

  a {
    font-size: 12px
  }
}
