.wrapper-std{
  width: 60%;
  margin: auto;
  @media (max-width: 600px) {
    width: 90%;
  }

  @media (max-width: 400px) {
    width: 95%;
  }

  @media (max-width: 300px) {
    width: 100%;
  }
}

.wrapper-large-margin {
  width: 50%;
  margin: auto;
  @media (max-width: 600px) {
    width: 80%;
  }

  @media (max-width: 400px) {
    width: 90%;
  }

  @media (max-width: 300px) {
    width: 100%;
  }
}
