<div class="container">
  <div class="text-center">
    <h1><b>Flags 4 Fun</b></h1>
  </div>
  <div class="wrapper-large-margin">
    <div class="menu text-center">
      <div class="header-menu">
        <h3> Game Modes </h3>
      </div>
      <hr>
      <ul>
        <% Game::MODES.each_with_index do |game_mode, i| %>
          <li>
            <%= link_to new_game_path(game_mode: i + 1), class: 'menu-elem' do %>
              <div class="link-content">
                <div class="link-text"> <%= game_mode %> </div>
                <div class="icons hidden">
                  <%= image_tag game_mode.split(' ').first.downcase, width: 25 %>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  <%= image_tag game_mode.split(' ').last.downcase, width: 25 %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
