<h1>Welcome to Flags 4 Fun</h1>
<br><br>
<ul>
  <% Game::MODES.each_with_index do |game_mode, i| %>
    <li>
      <%= link_to game_mode, games_path(game_mode: i + 1), method: :post %>
    </li>
  <% end %>
</ul>
