.flag-card {
  height: 80px;
  width: 160px;
  text-shadow: 0 .3px 2px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: $blue;
  position: relative;
  margin: 15px auto;
  border: 1px solid $light-grey;
  display: flex;

  &:hover{
    border: 1px solid $grey
  }

  p {
    font-size: 12px;
    margin: 0 3px;
    text-align: center;
  }

  @media (max-width: 1300px) {
    height: 60px;
    width: 120px;
    margin: 10px auto;
    p {
      font-size: 10px;
    }

  }
  @media (max-width: 400px) {
    height: 50px;
    width: 100px;
    margin: 5px auto;
    p {
      font-size: 8.5px;
    }
  }
  @media (max-width: 300px) {
    height: 35px;
    width: 70px;
    margin: 5px auto;
    p {
      font-size: 7px;
    }
  }
}
.flag-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.flag-card-link:hover {
  opacity: 0.1;
}

.card-text {
  margin: auto;
}
