.wrapper-login {
  hr {
    border: .5px solid $grey;
  }
  width: 360px;
  margin: auto;
  @media (max-width: 500px) {
  	width: 300px
  }
  @media (max-width: 350px) {
  	width: 280px
  }
}

form.login-form {
  .form-group {
    position: relative;
    .form-control {
      height: 50px;
    }
    color: $grey;
		.wrapper-icon {
			position: absolute;
			right: 10px;
			top: 14px;
			z-index: 1;
			width: 30px;
			text-align: center;
		}
    i {
      color: $grey;
    }
  }
}

.or-separator {
  background: $lighter-grey;
  height: 34px;
  text-align: center;
  color: $grey;
  hr {
    margin-top: -28px;
  }
}

.or-separator-text {
  background-color: $lighter-grey;
  display: inline-block;
  padding: 8px;
}

.form-under {
  margin: 0 2px;
  height: 40px;
  display: flex;
  justify-content: space-between;
	.checkbox {
		margin: 0;
  	opacity: 0.8;
  	transition: all 0.3s ease;
	  &:hover {
	    opacity: 1;
	  }		
	}
  .forget-password {
    margin: 0;
    color: $grey;
  	opacity: 0.8;
  	transition: all 0.3s ease;
	  &:hover {
	    opacity: 1;
	  }
  }
  @media (max-width: 500px) {
  	font-size: 15px;
  }
  @media (max-width: 350px) {
  	font-size: 14px;
  }
}

.new-account {
  display: flex;
  justify-content: space-between;
}
