.menu {
  background: $sand;
  border-radius: 4px;
  padding: 20px 30px;
  box-shadow: 0 1px 5px 0.5px rgb(210, 210, 210);
  margin: 40px auto;
  max-width: 400px;

  ul {
    list-style-type: none;
    padding: 0 10px;
  }

  li {
    margin: 10px 0;
  }

  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: $red;
    }
  }

  hr {
    border-top: .1px solid $grey;
    margin-bottom: 30px;
  }
}
